*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: gold;
  height: 10vh;
  border: 1px solid black;
}

.click-field {
  position: relative;
  background-color: gold;
  height: 90vh;
}

.counter-number {
  position: absolute;
  background-color: aquamarine;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  width: 6%;
  height: 50px;
  top: 40%;
  left: 45%;
  border-radius: 10px;
}

.color-field {
  position: absolute;
  background-color: dodgerblue;
  width: 0.1%;
  height: 90vh;
}

.reset {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 10%;
  right: 10%;
  background-color: dodgerblue;
  border-radius: 10px;
}

.reset:hover {
  background-color: blueviolet;
}
